<section class="trackbg">
<div class="pb-5  trackBaby  marginTop"  >
    <div class="container ">
      <div class="row   ">
            <div class="col-md-6 track offset-md-3 d-flex pb-5 paddTop justify-content-center mb-0">
                <h2 >Track Your Baby</h2>
              </div>
   
              <div class="col-md-6 track offset-md-3  pb-5 pl-5 pr-5  ">
                    <div *ngIf="showDataFlag; else showForm"> 
                        <h5>{{data?.head}}</h5>
                        <p class="pink">{{data?.p1}}</p>
                        <p class="blue">{{data?.p2}}</p>
                        <p class="pink">{{data?.p3}}</p>
                        <p class="blue">{{data?.p4}}</p>
                        <p class="pink">{{data?.p5}}</p>
                        <p class="blue">{{data?.p6}}</p>
                    </div>
                    <ng-template #showForm>
                      <form class=" w-100" name="babyTrack" #babyTrack ="ngForm" novalidate (ngSubmit)="trackForm(babyTrack)">
                        <div class="form-group pb-4">
                          <input class="form-control " type="date" placeholder="Date Of Birth"  name="baby_birth" [(ngModel)]="baby_birth" required>
                        </div>
                        <div class="form-group pb-4">
                            <input class="form-control  " type="number" placeholder="Weight"  name="baby_weight" [(ngModel)]="baby_weight" required>
                        </div>
                        <div class="form-group pb-4">
                            <input class="form-control  " type="number" placeholder="The frequency at which your baby feeds?"  name="eat_time" [(ngModel)]="eat_time" required>
                        </div>
                        <div class="d-flex justify-content-center ">
                            <button type="submit" (click)="getBabyData()" class="btn  button-shadow marginBottom " [disabled]="!babyTrack.valid">Submit</button>
                        </div>         
                      </form>
                    </ng-template>
              </div>

        
          
       
  
      </div>
      </div>
    </div>
<div class="trackBaby">
  <div class="move ">
      <img class="img-fluid"  src="assets/images/trackbaby/girlCar-01.png">
  </div>
</div>
</section>
