<div class="secshop margin">
    <div class="secBg text-center">
      <h1>WISHLIST</h1>
      <span><a routerLink="/">HOME</a></span>
      <span><a class="clicked">WISHLIST</a></span>
    </div>
  </div> 

<section class="container view-cart mb-5">
  <div class="row">
    <div class="col-12 table-responsive mb-3 ">
      <table class="table">
        <thead>
          <tr>
            <th scope="col" > </th>
            <th scope="col" > </th>
            <th scope="col" >Product Name</th>
            <th scope="col" class="pl-0">Unit Price</th>
            <th scope="col" class="pl-0">Stoke Status</th>
            <th scope="col" > </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor= "let data of wishListData">
            <th scope="row" class="text-center pr-5 pl-5"  >
                <a (click)="delete(data.id)"><i class="fa fa-times"></i></a>
            </th>
            <td>
              <div class="img-list">
                <img class="card-img-top img-fluid " src="{{data.pic}}">
              </div>
            </td>
            <td>{{data.name}}</td>
            <td class="pr-2">{{data.price}} <span>LE</span></td>
            <td class="text-dark">{{data.stoke}}</td>
            <td ><button class="button-shadow" [routerLink]="['/shop/item',data.id, data.type]">View Product</button></td>
          </tr>
        </tbody>
      </table>      
    </div>

  </div>
</section>

