  <div class="container-fluid">
      <div class="row pr-0">
          <div class="col-lg-6 girlImg pl-0 pr-0">
              <div class="imgForm d-flex align-items-center justify-content-center "> <img src="../assets/images/loginRegsiter/sign.png"/> </div>
          </div>
          <div class="text-center form col-lg-6 pl-0 pr-0">
            <h2 class="mt-5">Login</h2>
            <form name="loginForm" #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)" novalidate>
              <div class="input-group mt-5 ml-auto mr-auto pt-2">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Email</span>
                  </div>
                  <input type="text" class="form-control inputForm"  aria-label="Username" aria-describedby="basic-addon1" ngModel name="email" #email="ngModel" required>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
                  Email is required
                </div> 
                <div class="input-group ml-auto mr-auto pt-5">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Password</span>
                  </div>
                  <input type="text" class="form-control inputForm"  aria-label="Username" aria-describedby="basic-addon1" ngModel name="password" #password="ngModel" required>       
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="password.touched && !password.valid">
                  Password is required
                </div> 
              <button type="button" class="btn facebook  mb-4">      
                <a routerLink="/">Connect with facebook</a>
                </button>
                <br>
              <button type="button" class="btn twitter">
                  <a routerLink="/">Connect with Gmail</a>
                  </button><br>
              <button class="btn LoginDiv"  [disabled]="!loginForm.valid" type="submit" routerLink="/">Login</button>
           </form>
          </div>
        </div>
  </div>

 


