<div class="container-fluid splash" >
  <div class="row h-100">
    <div class="col-12 h-100 d-flex justify-content-center">

      <div class="choose d-flex justify-content-center align-items-center">
       <p class="mb-0">Choose Character</p>
      </div>

      <div class="boy d-flex justify-content-between">
        <div class="pl-5">
            <input type="radio" name="gender" value="male" class="male"> Male
        </div>
        <div class="pr-5">
          <input type="radio" name="gender" value="male" class="female"> Female
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid bg" >
<div class="row h-100">
<div class="col-12 h-100">

  <div class="character">
    <img src="../../assets/images/games/character2-01.png"  class=" char img-fluid">
  </div>

  <div class="question text-center ">
    <p>Where are you now ? </p>
  </div>
  <button class="one">Egypt</button>
  <button class="two">Mexico</button>

</div>
</div>
</div>

<div class="container-fluid end" >
<div class="row h-100 justify-content-center align-items-center">
  <div class="win text-center">
      <p>Congratulations</p>
 </div>
 <div class="lose text-center">
    <p>Game Over</p>
</div>
</div>
</div>


