<div class="container">
  <div class="card-deck text-center">
      <div class="card">
        <img class="card-img-top" src="../assets/images/game/numbers.gif" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Easy Numbers</h5>
          <p class="card-text">Play this game to solve the summing numbers , you should click on the right number to win the game, play to enjoy our game.</p>
          <a href="https://esraanabil.github.io/numbers-game-for-kids/game"><button type="button" class="btn button-shadow">play now</button></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/images/game/animals.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Lovely Animals</h5>
          <p class="card-text">With our game you can enjoy with lovely animals , play lovely animals to see our animals and click the right animal for every name.</p>
          <a href="https://l.facebook.com/l.php?u=https%3A%2F%2Fesraa-hassan-ahmed.github.io%2FSimple-Animal-Game%2Findex.html&h=ATMA3YVCbhYaNvTdyIwKeMznQsAHeFi5nm5yTL1mrFIgnyMJvsRmicKx1nLhj9Tofg-WXqAfAzk2r4eowBkUhD2b6ve1bIyrjZsleEFiE_TGZFP_bo4NBw"><button type="button" class="btn button-shadow">play now</button></a>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../assets/images/game/world.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">World Discovery</h5>
          <p class="card-text">With this game you can discover new cantries , play to check if you know this contries or not, click on the right answer to win. <p>
          <a routerLink="/games"><button type="button" class="btn  button-shadow" routerLink="games">play now</button></a>
        </div>
      </div>
    </div>
</div>
