<div id= "sec3"class="container sec3">
  <div class="text-center head">
      <h2 >Shop Now</h2>
      <img src="../../assets/images/home/baby.png" alt="girl">
     
  </div> 
  <div class="row position-relative " id="j">
    <div class="col-12 col-sm-12 col-lg-6 div-content1" id="scrolLeft">
      <div class="row clothes ">
          <div class="col-6 col-sm-7 ">
              <img src="../assets/images/sec3/clothes.jpg" alt="clothes">
          </div>
          <div class="col-6 col-sm-5">
            <div>
              <h5>CLOTHES</h5>
              <p>See Our Products </p>
              <button (click)='redirectTo()' class="button-shadow">Shop now</button>
            </div>
          </div>
      </div>    
    </div>
    <div class="col-12 col-sm-12 col-lg-6 div-content2 " id="scrolRight">
        <div class="row toys">
            <div class="col-6 col-sm-7">
                <img src="../assets/images/sec3/toy.jpg" alt="toys">
            </div>
            <div class="col-6 col-sm-5">
              <div>
                <h5>TOYS</h5>
                <p>See Our Products </p>
                <button (click)='redirectToToys()' class="button-shadow">Shop now</button>
              </div>
            </div>
        </div>        
    </div>
  </div>
</div>
<div id ="sec4"class="sec4 margin">
  <div class="text-center head">
    <h2 >Baby Care</h2>
    <img src="../../assets/images/home/baby.png" alt="girl">
  </div> 
  <div class="text-center container">
    <p>Our Tracker reveals how your child's growth compares with other boys or girls the same age. Just enter your child's weight, height and eating times, and we'll tell you if he is normal or not accodring to other childs,
      Doctors watch this over time to make sure your child is growing in a healthy way.</p>
    <button class="button-shadow" routerLink="/babyTracker">Track</button>
  </div>
</div>



<!-- <div style="border:1px solid black;width:100px;height:150px;overflow:auto" class="k">
  This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text. This is some text.
</div><br>
  
  <button>Return the vertical position of the scrollbar</button>
   -->